* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Dancing+Script&family=Mohave:wght@300&family=Montserrat:wght@100&display=swap');

:root {
    --main-bg-color: pink;
}

body {
    background-color: var(--main-bg-color);
}

header {
    background-color: var(--main-bg-color);
    border: 2px solid black;
    height: 8vh;
}
nav{
    display: flex;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0 25px;
    align-items: center;
    height: 8vh;
}

nav ul li {
    list-style: none;
    padding: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    padding: 0 25px;
    height: 8vh;
}