@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Dancing+Script&family=Mohave:wght@300&family=Montserrat:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-bg-color: #fff1;
}

body {
    background-color: var(--main-bg-color);
}

header {
    background-color: var(--main-bg-color);
    border: 1vh solid rgb(238, 230, 230);
    height: 10vh;
    display: flex;
}
nav{
    display: flex;
    align-items: center;
}
nav ul {
    display: flex;
    justify-content: flex-start;
    padding: 0 25px;
    align-items: center;
    height: 8vh;
}

nav ul li {
    list-style: none;
    padding: 25px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover{
    color: blue;
    font-size: large;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img{
    padding: 0 15px;
    height: 8vh;
}

.cart i{
    position: absolute;
    right: 2vw;
    top: 4vh;
}

.search{
    width: 100%;
    flex-shrink: 0;
    position: relative;
    display: flex;
    align-items: center;
}

.searchTerm{
    width: 100%;
    border: 3px solid rgb(238, 230, 230);
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5xp 0 5px;
    outline: none;
}

.searchTerm:focus{
    color:#6046ff;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid rgb(238, 230, 230);
    background: #f08f35;
    text-align: center;
    color: rgb(238, 230, 230);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

footer{
    height:8vh;
    background-color:#878787 ;
}

.container{
    min-height: 80vh;
}